<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Owner Central</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <a href="/">Logout</a>
    <p>Wins: <%= data[0].local.win %></p>
    <p>Number of losses: <%= data[0].local.lost %></p>
    <p>Winnings:$<%= data[0].local.winnings %></p>
    <p>Losses:$<%= data[0].local.losses %></p>
  </body>
</html>
