body{
  background-image: url("roulette.jpeg");
  color:white;
  font-size: 40px;
  text-align: center;
}
input{
  font-size: 25px;
  border-radius: 4%;
  border: none;
}
select{
  font-size: 20px;
}
button{
  font-size: 20px;
  border-radius: 5%;
  background-color: green;
  border: none;
  color: white;
}
.formSec{
  text-align: left;
}
.main{
  margin-top: 3%;
}
.errorMessage{
  font-size: 100px;
  text-align: center;
}
